absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
blinker
bs4
build
cachetools
certifi
cffi
charset-normalizer
chromadb
click
colorama
coloredlogs
contourpy
cryptography
cycler
dataclasses-json
datasets
dill
distro
docx
durationpy
evaluate
exceptiongroup
faiss-cpu
filelock
Flask
flask-cors
flatbuffers
flwr
flwr-datasets
fonttools
frozenlist
fsspec
future
google-auth
googleapis-common-protos
groq
grpcio
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
iterators
itsdangerous
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langsmith
lightning-utilities
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mmh3
mpmath
msgpack
multidict
multiprocess
mypy_extensions
networkx
nltk
numpy
oauthlib
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
pathspec
pdf2image
pillow
posthog
propcache
protobuf
pyarrow
pyasn1
pyasn1_modules
pybase64
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
pyDeprecate
Pygments
pyparsing
PyPDF2
PyPika
pyproject_hooks
pytesseract
python-dateutil
python-docx
python-dotenv
python-pptx
pytorch-lightning
pytz
PyYAML
ray
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rouge-score
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
shellingham
six
sniffio
soupsieve
SQLAlchemy
sympy
tenacity
tensorboard
tensorboard-data-server
threadpoolctl
tokenizers
tomli
tomli_w
torch
torchmetrics
torchvision
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
utils
uvicorn
uvloop
watchfiles
websocket-client
websockets
Werkzeug
xlsxwriter
xxhash
yarl
zipp
zstandard
sentence-transformers
requests
beautifulsoup4
langchain
langchain-community
sentence-transformers
chromadb
python-dotenv
PyMuPDF
pytesseract==0.3.10
Pillow==10.0.0
unquote
python-docx
